.App {
  text-align: center;
}

.App-header {
  background-color: rgb(8, 5, 95);
  height: 50px;
  padding: 8px;
  padding-bottom: 25px;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

input {
  margin-right: 10px;
}

button {
  margin-left: 20px;
}

table {
  margin-top: 20px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}

th, td {
  border-bottom: 1px solid black;
  padding: 9px;
  padding-right: 200px;
}


legend {
    margin-left: -280px;
}
